<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-lg-offset-2  col-md-offset-2">
    <h3>Movies</h3>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 form-group">
            <label for="sortField">Sort By</label>
            <select name="sortField" id="sortField" class="form-control" ng-model="sortField" ng-change="fetchMovies()">
                <option value="createdAt">Creation Date</option>
                <option value="name">Name</option>
                <option value="releaseDate">ReleaseDate</option>
                <option value="duration">Duration</option>
            </select>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 form-group">
            <label for="sortSense">Order</label>
            <select name="sortSense" id="sortSense" class="form-control" ng-model="sortSense" ng-change="fetchMovies()">
                <option value="desc">Desc</option>
                <option value="asc">Asc</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group">
            <input type="text" class="form-control" ng-model="filter" placeholder="Type here for a quick search..."
                   autofocus>
        </div>
    </div>
    <div class="row">
        <movie ng-repeat="movie in movies|filter:filter" movie="movie" options="options"></movie>
    </div>
</div>