<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-lg-offset-3  col-md-offset-3">
    <h3>My Movies</h3>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group">
            <input type="text" class="form-control" ng-model="filter" placeholder="Type here for a quick search..."
                   autofocus>
        </div>
    </div>
    <div class="row">
        <movie ng-repeat="movie in movies|filter:filter" movie="movie" options="options"></movie>
    </div>
</div>